<div
  id="track_<%= track.id %>"
  class="track"
  data-url="<%= track_url(track) %>"
  data-stream-url="<%= track.stream_url %>"
  data-origin-url="<%= track.url %>"
  style="background-image: url('<%= track.cover_url %>')"
  title="<%= track_tooltip(track) %>">
  <div class="primary controls">
    <span class="iconic play" data-action="play" data-target="track_<%= track.id %>" title="Play"></span>
    <span class="iconic pause" data-action="pause" data-target="track_<%= track.id %>" title="Pause"></span>
  </div>
  <div class="secondary controls">
    <% if current_user && current_user == @user %>
      <span class="iconic trash_stroke" data-action="delete" data-target="track_<%= track.id %>" title="Delete"></span>
      <span class="iconic move" data-action="move" data-target="track_<%= track.id %>" draggable="true" title="Move"></span>
    <% end %>
    <% if current_user && current_user != @user %>
      <span class="iconic plus" data-action="import" data-target="track_<%= track.id %>" title="Import to your playlist"></span>
    <% end %>
    <a href="<%= track.url %>" class="iconic link" target="_blank" title="Official page"></a>
  </div>
</div>