<!DOCTYPE html>
<html>
<head>
  <title>SwagFm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <footer>
    <section class="controls">
      <span class="iconic first" id="previous-button" title="Previous track"></span>
      <span class="iconic play" id="play-button" title="Play"></span>
      <span class="iconic last" id="next-button" title="Next track"></span>
      <% if current_user %>
        <span class="iconic plus" id="add-button" title="Add a track"></span>
      <% end %>
    </section>
    <section class="settings">
      <%= link_to 'People', users_path %>
      <%= link_to 'Latest tracks', tracks_path %>
      <% if current_user %>
        <% if current_user != @user %>
          <%= link_to 'Your favorite tracks', current_user %>
        <% end %>
        <%= link_to 'Logout', session_path, method: 'DELETE' %>
      <% else %>
        <%= link_to 'Login', session_path %> or <%= link_to 'signup', new_user_path %>.
      <% end %>
    </section>
  </footer>
</body>
</html>
