<!DOCTYPE html>
<html>
<head>
  <title>SwagFm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <footer>
    <section class="controls">
      <span class="iconic first" id="previous-button" title="Previous track (use left arrow as a shortcut)"></span>
      <span class="iconic play" id="play-button" title="Play/pause (use space key as a shortcut)"></span>
      <span class="iconic last" id="next-button" title="Next track (use right arrow as a shortcut)"></span>
      <% if current_user %>
        <span class="iconic plus" id="add-button" title="Add a track"></span>
      <% end %>
    </section>
    <section class="info">
      <a id="current-track" href="" title="Go to playing track"></a>
    </section>
    <section class="settings">
      <% if @user && current_user != @user %>
        <%= link_to "#{@user.name}'s favorites", @user, class: 'active' %>
      <% end %>
      <%= link_to 'People', users_path, class: request.fullpath == users_path ? 'active' : '' %>
      <%= link_to 'Latest tracks', tracks_path, class: request.fullpath == tracks_path ? 'active' : '' %>
      <% if current_user %>
        <%= link_to 'Your favorites', current_user, class: request.fullpath == user_path(current_user) ? 'active' : '' %>
        <%= link_to 'Logout', session_path, method: 'DELETE' %>
      <% else %>
        <%= link_to 'Login', session_path %>
        <%= link_to 'signup', new_user_path %>
      <% end %>
    </section>
  </footer>
</body>
</html>
