<!DOCTYPE html>
<html>
<head>
  <title>SwagFm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <footer>
    <section class="controls">
      <span class="iconic first" id="previous-button"></span>
      <span class="iconic play" id="play-button"></span>
      <span class="iconic last" id="next-button"></span>
      <span class="iconic plus" id="add-button"></span>
    </section>
    <% if current_user %>
      <%= link_to 'Logout', session_path, method: 'DELETE' %>
    <% else %>
      <%= link_to 'Login', session_path %> or <%= link_to 'signup', new_user_path %>.
    <% end %>
  </footer>
</body>
</html>
