<!DOCTYPE html>
<html>
<head>
  <title>SwagFm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <% if current_user %>
    <%= link_to 'Logout', session_path, method: 'DELETE' %>
  <% else %>
    <%= link_to 'Login', session_index_path %> or <%= link_to 'signup', new_user_path %>.
  <% end %>
</body>
</html>
